{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My Studies{% endblock %}
{% block title %}Studies{% endblock %}

{% block title_content %}Add an educational step{% endblock %}

{% block body %}
    {{ include('back/study/_form.html.twig') }}

    <ul class='options'>
            <li><a href="{{ path('admin.study.index') }}"><button class='btn btn-warning'>Go back</button></a></li>
        </ul>
{% endblock %}
