
			<div class="container">
				<section>
					<header>
						<h2>{% trans %}Contact{% endtrans %}</h2>
						<div class='links'>
							<div><a class='fa fa-phone' href="tel:+33672687543"> +(33) 6 72 68 75 43 </a></div>
							<div><a class='fa fa-envelope' href="mailto:cyril.demery.pro@gmail.com"> cyril.demery.pro@gmail.com </a></div>
						</div>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-linkedin"><span>Linkedin</span></a></li>
						<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-instagram"><span>Instagram</span></a></li>
						<li><a href="#" class="fa fa-youtube"><span>Youtube</span></a></li>
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
					&copy; Cyril Démery ~ 2019
				
			</div>
		</div>
