{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My skills{% endblock %}
{% block title %}Skills{% endblock %}

{% block title_content %}Add a language skill{% endblock %}

{% block body %}

    {{ include('back/skill/language/_form.html.twig') }}

    <ul class='options'>
            <li><a href="{{ path('admin.skill.language.index') }}"><button class='btn btn-warning'>Go back</button></a></li>
        </ul>
{% endblock %}
