/*
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	   min-width: auto;
	   max-width: 1200px;
	   
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}

	header
	{
		margin-bottom: 1.6em;
		
	}
	#header {
		padding: 9em 0 4em 0;
	}
	
		header h2
		{
			font-size: 2.8em;
		}

		header .byline
		{
			font-size: 1.2em;
		}
		
	.container { 
		max-width: 1100px;
		width: 95%;
		padding: 10px;
		}
		
	#nav > ul > li > a
	{
		padding: 1em;
	}
	
	@media all and (max-width: 850px) {
		#nav .language_selector { 
			position: relative; 
		}
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}
	
	.homepage #content header h2
	{
		font-size: 1.8em;
	}

	#sidebar h2
	{
		font-size: 2em;
	}

/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/
	
	#tweet
	{
	}

	#tweet blockquote
	{
		font-size: 1.6em;
	}	
	
	#footer {
	padding: 0 0 1em 0;
