<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}{% endblock %} - Démery Cyril</title>
		{{ include('layout/header.html.twig')  }}
		{% block stylesheets %}{% endblock %}
    </head>
    <body>
		<div id="header">{{include('layout/navbar.html.twig') }}</div>
		<div id="featured">
			<div class="container">
				{% block body %}{% endblock %}
			</div>
		</div>
		{% block javascripts %}{% endblock %}
		
    </body>
    <div id="footer">
		{{include('layout/footer.html.twig') }}
    </div>
</html>
