<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}{% endblock %} - Admin</title>
		{{ include('back/layout/header.html.twig')  }}
		{% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			{{include('back/layout/navbar.html.twig') }}
		</nav>
		<div id="page-wrapper">
            <div id="page-inner">
				{% block body %}{% endblock %}
			</div>
		</div>
		
		
    </body>
    <div id="footer-sec" class='text-center'>
		{{include('back/layout/footer.html.twig') }}
    </div>
	{% block javascripts %}{% endblock %}
</html>
