{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My Experiences{% endblock %}
{% block title %}Project{% endblock %}

{% block title_content %}Edit a project{% endblock %}

{% block body %}
    {{ include('back/experience/project/_form.html.twig') }}

    <ul class='options'>
        <li><a href="{{ path('admin.experience.project.index') }}"><button class='btn btn-warning'>Go back</button></a></li>
        <li>{{ include('back/experience/project/_delete_form.html.twig') }}</li>
    </ul>
    
{% endblock %}
