{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My hobbies{% endblock %}
{% block title %}Hobbies{% endblock %}

{% block title_content %}Add a hobby{% endblock %}

{% block body %}
{{ include('back/hobby/_form.html.twig') }}


<ul class='options'>
    <li><a href="{{ path('admin.hobby.index') }}"><button class='btn btn-warning'>Go back</button></a></li>
</ul>
{% endblock %}